
  <div class="navigationPane">
    <div class="toggleButton">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="navigationList">
      <div class="navigationItem">
        <a routerLink="/dashboard"><i class="fa fa-tachometer" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;Dashboard</span></a>
      </div>
      <div class="navigationItem">
        <a routerLink="/addProduct"> <i class="fa fa-bar-chart" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;Add Product</span></a>
      </div>
      <div class="navigationItem">
        <a routerLink="/myProducts"> <i class="fa fa-gear" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;My Products</span></a>
      </div>
      <div class="navigationItem">
        <a routerLink="/statistics">  <i class="fa fa-history" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;Statistics</span></a>
      </div>
      <div class="navigationItem">
        <a routerLink="/history"> <i class="fa fa-bar-chart" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;History</span></a>
      </div>
      <div class="navigationItem">
        <a routerLink="/adminList"> <i class="fa fa-bar-chart" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;Admin List</span></a>
      </div>
        <div class="navigationItem">
        <a routerLink="/login"> <i class="fa fa-bar-chart" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;Login </span></a>
      </div>
        <div class="navigationItem">
        <a routerLink="/register"> <i class="fa fa-bar-chart" aria-hidden="true"></i><span class="navtag">&nbsp;&nbsp;Register</span></a>
      </div>
      
      
    </div>
  </div>



